html,
body, 
#app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EEF2E6;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.main-title {
  font-family: 'Barlow Condensed', sans-serif;
}

#app {
  position: relative;
}

.bubble {
  position: fixed;
  bottom: 50px;
  right: 20px;
}

.post {
  max-height: 150px;
}