html,
body, 
#app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EEF2E6;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.main-title {
  font-family: 'Barlow Condensed', sans-serif;
}

#app {
  position: relative;
}

.bubble {
  position: fixed;
  bottom: 50px;
  right: 20px;
}

.post {
  max-height: 150px;
}

.css-1okebmr-indicatorSeparator {
  display: none;
}

.css-tj5bde-Svg {
  fill:black !important;
  opacity: .75;
  width: 85%
}

.css-1s2u09g-control {
  border-color: #dedede !important;
}